/* Background */
body {
    width: 100%;
    height: 100%;
    background: url(https://img00.deviantart.net/9d1b/i/2011/045/c/b/pokemon_town_by_neffertity-d39ks2h.jpg);
}

/* Nintendo DS styling */
.gameConsole{
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
}

/* Will contain map */
.map {
    /* May conflict with logic code to toggle on and off display */
    display: none;
    /* Sit on top */
    z-index: 4; 
}

/* Will contain character and Pokemon and user will capture   */
.battleScreen {
    /* Hidden by default */
    /* display: none; */
    /* Stay in place */
    /* position: fixed;
    /* Sit on top */
    z-index: 3; 
    /* Location of the box */
    padding-top: 100px;
    left: 0;
    top: 0;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    background-image: url(https://orig00.deviantart.net/4319/f/2011/190/9/a/free_pokemon_battle_template_by_peregrinestar-d3lijek.png);
}

/* Will contain victory gif */
.victoryScreen {
    display: none;
    /* Sit on top */
    z-index: 2; 
}

/* Will contain defeat gif */
.defeatScreen {
    display: none;
    /* Sit on top */
    z-index: 1; 
}