.gameConsole img {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: -5;
    height: 700px;
    width: 700px;
}


/* Will contain map */
.map {
    position: relative;
    height: 276px;
    width: 468px;
    top: 9px;
    left: -9px;
    z-index: 4;
    background-color: aqua; 
}

/* Will contain character and Pokemon and user will capture   */
.battleScreen {
    position: relative;
    height: 276px;
    width: 468px;
    top: -267px;
    left: -9px;
    z-index: 3;
    background-image: url(../images/Battle.png);
}

/* Will contain victory gif */
.victoryScreen {
    position: relative;
    height: 276px;
    width: 468px;
    top: -543px;
    left: -9px;
    z-index: 2;
    background-image: url(../images/Victory.gif);
}

/* Will contain defeat gif */
.defeatScreen {
    position: relative;
    height: 276px;
    width: 468px;
    top: -819px;
    left: -9px;
    z-index: 1;
    background-image: url(../images/Defeat.gif);
}

.bg {
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.topScreen {
    position: relative;
    height: 285px;
    width: 467px;
    top: 61px;
    left: 451px;
    /* background-color: red; */
}
.topDisplay img{
    position: relative;
    height: 276px;
    width: 467px;
    top: 5px;
    left: 0px;
    /* background-color: aqua; */
}
.topHidden img{
    position: relative;
    height: 276px;
    width: 467px;
    top: 0px;
    left: 225px;
    /* background-color: red; */
}


.bottomScreen {
    height: 191px;
    width: 316px;
    position: relative;
    top: 166px;
    left: 85px;
    z-index: 10;
}
.jumbotron {
    height: 10px;
    text-align: center;
}