body {
    
    background-image: url(../images/Town.png);
    background-size: cover;
	background-repeat: no-repeat;
}

.gameConsole {
    position: absolute;
    left: 120px;
    width: 80%;
    height: 970px;
    top: 10px;
    z-index: 1; 
}

#battleScreen {
    margin: 0 auto;
    background: white;
    position: absolute;
    width: 625px;
    height: 390px;
    top: 50px;
    left: 275px;    
    z-index: 3;
    visibility: hidden;
}

.victoryScreen {
    margin: 0 auto;
    background: blue;
    position: absolute;
    width: 625px;
    height: 390px;
    top: 50px;
    left: 275px;
    z-index: 4;
    visibility: hidden;
}

.defeatScreen {
    margin: 0 auto;
    background: red;
    position: absolute;
    width: 625px;
    height: 390px;
    top: 50px;
    left: 275px;
    z-index: 5;
    visibility: hidden;
}

.bottomScreen {
    position: absolute;
    margin: 0 auto;
    background: white;
    top: 550px;
    width: 43%;
    height: 400px;
    left: 335px;
    
}

#map {
    margin: 0 auto;
   
    position: absolute;
    width: 625px;
    height: 390px;
    top: 50px;
    left: 275px;
    z-index: 2;
}


#playerStat {
    
}

.screen {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4 {
    text-align: center
}

/* .modal {
    position: absolute;
    margin: 0 auto;
    top: 500px;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    background-color: rgba(0,0,0,0);
} */

/* .modal-title {
    margin: 0 auto;
} */

#pokemonImage {
    margin: 0 auto;
    max-width: 40%;
    height: 40%;
    display: block;
}

#pokeBall {
    margin: 0 auto;
    width: 15%;
    height: 23%;
    display: block;
}
